body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0f5;
    position: relative;
}

.game-container {
    text-align: center;
}

.big-word {
    font-size: 2.5em;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    width: 100%; /* 親要素の幅いっぱいに広がる */
    padding: 0;
    box-sizing: border-box;
}


.option {
    width: 100%; /* 選択肢の幅を親要素に合わせる */
    padding: 15px 0; /* 選択肢の上下の余白 */
    font-size: 1.5em;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center; /* 選択肢のテキストを中央揃えにする */
    background-color: #20c997;
}


.option:hover {
    opacity: 0.8;
}


/* 正解時と不正解時の背景色 */
.options .option.correct-answer { background-color: #5cb85c; }
.options .option.wrong-answer { background-color: #d9534f; }


.big-button {
    padding: 15px 30px;
    font-size: 1.5em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.big-button:hover {
    background-color: #0056b3;
}

#word-container,
#start-button {
    display: none;
}

.accuracy {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.2em;
}

.translate-button {
            padding: 10px 20px;
            background-color: #4CAF50; /* グリーンの背景色 */
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease; /* ホバー時のトランジション */
            font-family: 'Arial', sans-serif; /* フォントファミリー */
            font-size: 16px; /* フォントサイズ */
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* 影の設定 */
        }

        /* ホバー時のスタイル */
        .translate-button:hover {
            background-color: #45a049; /* グリーンの濃いめの背景色 */
        }

        /* アクティブ時のスタイル */
        .translate-button:active {
            background-color: #367128; /* グリーンの暗い背景色 */
            box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2); /* より薄い影 */
            transform: translateY(1px); /* ボタンを少し下に移動 */
